# IntelliJ
.idea
*.iml

# Composer
vendor/

# PHP code sniffer
.php-cs-fixer.cache

# PHP Unit
build/
.phpunit.result.cache

# Dev / Testing
coverage/

# env
tests/tests.env.cache.php
.env
.env.cache.php

# Storage
storage/*
!storage/.gitkeep
tests/storage_test/
docker-examples/storage/

# Medias
www/medias/avatars/*
!www/medias/avatars/.gitkeep
www/medias/blueprints/*
!www/medias/blueprints/.gitkeep
tests/medias/
docker-examples/medias/

# Examples
docker-examples/db/
