<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./vendor/autoload.php" stderr="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.1/phpunit.xsd">
  <testsuites>
    <testsuite name="www">
      <directory>tests/www</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>app</directory>
    </include>
  </source>
</phpunit>
