name: validate

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        php-version:
          - '7.4'
          - '8.0'
          - '8.1'
          - '8.2'
          - '8.3'
          - '8.4'

    services:
      mysql:
        image: mariadb:10.4
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_USER: blueprintue-self-hosted-edition
          MYSQL_PASSWORD: blueprintue-self-hosted-edition
          MYSQL_DATABASE: blueprintue-self-hosted-edition
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=10

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate
        uses: docker/bake-action@v5
        with:
          set: php-version.args.PHP_VERSION=${{ matrix.php-version }}
          targets: validate

      - name: Build Image Tests E2E
        uses: docker/bake-action@v5
        with:
          set: php-version.args.PHP_VERSION=${{ matrix.php-version }}
          targets: test

      - name: Run Image Tests E2E
        run: docker run --rm -v $(pwd)/coverage:/src/coverage -e XDEBUG_MODE=coverage -e PHP_CS_FIXER_IGNORE_ENV=True --network host blueprintue-self-hosted-edition:test test

      - name: Upload coverage
        uses: codecov/codecov-action@v5
        if: success()
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/clover.xml
